# Default ignored files
/../../mlops_assignment2 /.idea/shelf/
/../../mlops_assignment2 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../mlops_assignment2 /.idea/httpRequests/
# Datasource local storage ignored files
/../../mlops_assignment2 /.idea/dataSources/
/../../mlops_assignment2 /.idea/dataSources.local.xml
